:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --background-doc: #ffffff;
  --team-content-background: #f5f4fa;
  --header-background: #ffffff;
  --section-hero-background: #2f303a;
  --section-footer-background: #2f303a;
  --primary-white-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --background-btn: #188ce8;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --logo-header-color: #000000;
  --color-icons: #afb1b8;
  --gradient: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      );
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

cursor {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1666;
  text-align: center;
  color: var(--tittle-text-color);
  margin-bottom: 30px;
  padding: 0px;
}

.project-top-text, .submit-btn, .checkbox-text span, .modal-close, .subscribe-btn, .footer-social-link, .client-link, .team-icons-link, .examples-img__text, .about-text__about-icon, .adress-header__link {
  display: flex;
  align-items: center;
}

.portfolio-nav {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-seerif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--background-doc);
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

.page-header {
  background-color: var(--header-background);
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.web {
  color: var(--accent-color);
}

.page-header__navigation {
  align-items: center;
  bottom: 1px;
}
@media screen and (min-width: 1200px) {
  .page-header__navigation {
    bottom: -1px;
  }
}

.page-header__logo-header {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.923;
  letter-spacing: nulle;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: var(--logo-header-color);
}
@media screen and (min-width: 480px) {
  .page-header__logo-header {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo-header {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo-header {
    font-size: 26px;
    line-height: 1.19;
    margin: auto;
  }
}

.menu {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
  }
}

.menu__link {
  position: relative;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: var(--tittle-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  color: #2196f3;
}
.menu__link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  opacity: 1;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: opasity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.adress-header {
  display: none;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .adress-header {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .adress-header {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}

.adress-header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.02em;
  display: flex;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-header__link:hover, .adress-header__link:focus {
  color: var(--accent-color);
}

.adress-header__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.adress-header__tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.menu-open {
  margin-left: auto;
  margin-right: 10px;
  padding: 0;
  border: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.menu-open:hover, .menu-open:focus {
  color: var(--accent-color);
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: transparent;
  text-decoration: none;
  cursor: pointer;
}
.menu-close:hover, .menu-close:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--tittle-text-color);
}
.menu-list__link:hover, .menu-list__link:focus, .menu-list__link:active {
  color: var(--accent-color);
}

.mob-list-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu__tel {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-menu__tel {
    font-size: 34px;
  }
}
.mob-menu__tel:hover, .mob-menu__tel:focus {
  color: var(--accent-color);
}

.mob-menu__email {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .mob-menu__email {
    font-size: 24px;
  }
}
.mob-menu__email:hover, .mob-menu__email:focus {
  color: var(--accent-color);
}

.mob-soc {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
.mob-soc__link:hover, .mob-soc__link:focus {
  color: var(--accent-color);
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background: var(--section-hero-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: var(--gradient), url(../img/hero.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../img/header\ mobile\ 2x\ .jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--gradient), url(../img/Header\ tablet\ 1x\ \ .jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../img/Header\ tablet\ 2x\ \ .jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url(../img/hero.JPG);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../img/Img\ desktop\ 2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--gradient), url(../img/hero.JPG);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3;
  }
}

.hero__header-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__header-btn:hover, .hero__header-btn:focus {
  background: var(--background-btn);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .about__container {
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.about-text {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.about-text__link-item {
  width: 100%;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .about-text__link-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about-text__link-item {
    width: calc((100% - 90px) / 4);
  }
}

.about-text__about-icon {
  justify-content: center;
  background: var(--team-content-background);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.about__about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: nulle;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__about-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about__about-title {
    text-align: left;
  }
}

.about__about-subtitle {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7142;
  margin: 0;
  color: var(--primary-text-color);
}

.examples-img {
  text-align: center;
  width: 100%;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .examples-img {
    display: block;
  }
}

.examples-img__list {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.examples-img__label {
  position: relative;
  list-style: none;
}

.examples-img__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.03em;
  position: absolute;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background: var(--team-content-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.link-team {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 270px;
  padding: 0;
  margin: 0;
}

.link-photo {
  background: var(--background-doc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .link-photo {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .link-photo {
    width: calc((100% - 90px) / 4);
  }
}

.photo-team {
  padding: 30px 10px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: nulle;
  text-align: center;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}

.team-subtitle {
  font-weight: nule;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: nulle;
  text-align: center;
  margin-bottom: 16px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icons-item {
  width: 44px;
  height: 44px;
  gap: 10px;
}

.team-icons-link {
  width: 100%;
  height: 100%;
  background: var(--background-doc);
  border-radius: 50%;
  justify-content: center;
  color: var(--color-icons);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover, .team-icons-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-icons-sign {
  fill: currentColor;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    display: block;
    margin: 0 auto;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

.client-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 480px) {
  .client-item {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-item {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 60px) / 3);
  }
}

.client-icon {
  fill: var(--color-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-link {
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--color-icons);
  fill: var(--color-icons);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
  }
}

.footer {
  background: var(--section-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .container-wrap {
    display: flex;
    flex-direction: row;
  }
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: nulle;
  font-family: "Raleway", sans-serif;
  color: var(--primary-white-color);
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    display: block;
  }
}

.contacts-adress {
  display: block;
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 2;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .contacts-adress {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts-adress {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-adress {
    text-align: left;
  }
}

.contacts-item {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    margin-bottom: 9px;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  font-style: normal;
  list-style: none;
  background: var(--section-footer-background);
}

.footer-nav-address {
  line-height: 1.7142;
  list-style: none;
  text-decoration: none;
  color: var(--primary-white-color);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-address:hover, .footer-nav-address:focus {
  color: var(--accent-color);
}

.footer-nav-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  line-height: 1.7142;
  color: var(--footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-link:hover, .footer-nav-link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-nav-link {
    display: inline-block;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-container {
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .social-container {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-text {
    display: inline-block;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  color: var(--background-doc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
  fill: currentColor;
}

.footer-social-sign {
  fill: currentColor;
}

@media screen and (min-width: 320px) {
  .footer-form {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-right: 0px;
    display: flex;
  }
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-title {
    display: inline-block;
  }
}

.input-mobile {
  font-size: 12px;
}

.input-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--primary-white-color);
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}
.input-footer::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.input-footer:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.input-footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .input-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .input-footer {
    display: block;
    width: 358px;
    padding-left: 16px;
    height: 50px;
  }
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  cursor: pointer;
}
.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--background-btn);
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-footer {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.modal {
  width: 100%;
  background: var(--background-doc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--primary-white-color);
  border-radius: 50%;
  justify-content: center;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--logo-header-color);
}
.modal-close-icon:hover, .modal-close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--tittle-text-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .modal-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
  }
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon, .modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  display: block;
  position: relative;
  height: 14px;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  color: var(--tittle-text-color);
  outline: transparent;
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px 12px;
  margin-top: 4px;
}
.modal-comment:hover, .modal-comment:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
.modal-comment::-moz-placeholder {
  font-weight: nulle;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-weight: nulle;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-weight: nulle;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .checkbox-text {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox-text span {
  width: 16px;
  height: 15px;
  background: var(--primary-white-color);
  border: 2px solid var(--tittle-text-color);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  justify-content: center;
  fill: transparent;
}

.policy-checkbox {
  border-radius: 2px;
  color: var(--accent-color);
}
.policy-checkbox:checked + span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}
.policy-checkbox:checked + span:focus + span {
  border-color: var(--accent-color);
}

.checkbox-icon {
  border-radius: 2px;
  fill: var(--primary-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-policy {
  position: relative;
  color: var(--accent-color);
  margin-left: 5px;
  letter-spacing: 0.03em;
  font-size: 12px;
  line-height: 1.1666666667;
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .input-policy {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .input-policy {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  justify-content: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  border: 0;
  cursor: pointer;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.submit-btn:hover, .submit-btn:focus {
  background-color: var(--background-btn);
}

.portfolio-nav {
  list-style: none;
  text-align: center;
}

.link-filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: nulle;
  font-family: "Roboto";
  text-align: center;
  color: var(--tittle-text-color);
  background: var(--team-content-background);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 25px;
  display: inline-block;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.gallery-list {
  width: calc((100% - 60px) / 3);
}

.project-link {
  list-style: none;
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  justify-content: center;
  text-align: left;
  top: 0;
  font-style: normal;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .project-top-text {
  transform: translateY(0);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-tittle {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  text-align: left;
  border-top: 0;
}

.project-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
  margin: 0;
}/*# sourceMappingURL=main.css.map */