.modal-footer {
  margin-left: auto;
  margin-left: 93px;
  @include mobile {
  width: 100%;
  }
  @include tablet {
  margin-top: 0;
  margin-left: 159px;
  margin-right: 159px;
  }
  @include desktop {
  margin-left: 93px;
  margin-right: 0px;
  }
}
.footer-form {
  display: flex;
	gap: 12px;
  flex-direction: column;
	@include tablet {
	display: flex;
	margin: 0 auto;
	}
	@include mobile {
	display: flex;
	flex-direction: row;
	}
}
 .subscribe-title {
  font-weight: 700;
	font-size: 14px;
	line-height: calc(16/14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
  text-align: center;
	margin-bottom: 20px;
  color: var(--primary-white-color);
   @include desktop {
	display: inline-block;
  margin: 0 auto;
	}
}
.input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--section-footer-background);
  color: var(--primary-white-color);
  padding-left: 15px;
  flex-direction: column;
	align-items: center;
  &:focus {
    outline-color: var(--accent-color);
  }
  &:hover {
    border-color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
			display: flex;
			flex-direction: row;
		}
		@media screen and (min-width: 1200px) {
			display: flex;
			flex-direction: row;
		}
}
.subscribe-btn {
  @include font(700, 16px, 1.8, 0.06em);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  @extend %list;
  color: var(--primary-white-color);
  justify-content: center;
  display: flex;
	align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--background-btn);
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-icon-footer {
  fill: var(--primary-white-color);
}
