h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

cursor {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  color: var(--tittle-text-color);
  margin-bottom: 50px;
  padding: 0px;
}