:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --background-doc: #ffffff;
  --team-content-background: #f5f4fa;
  --header-background: #ffffff;
  --section-hero-background: #2f303a;
  --section-footer-background: #2f303a;
  --primary-white-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --background-btn: #188ce8;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --logo-header-color: #000000;
  --color-icons: #afb1b8;
  --gradient: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      );
}