.examples-img {
 text-align: center;
	width: 100%;
	padding-bottom: 94px;
  display: none;
	@include desktop {
	display: block;
	}
}
.examples-img__list {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.examples-img__label {
  position: relative;
  list-style: none;
}
.examples-img__text {
  @include font(700, 14px, 1.428, 0.03em);
  position: absolute;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  @extend %list;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}
